.description {
    .information {
        background-image: url('../images/background/description-background.png');
        background-position: 100% 0;
        background-repeat: no-repeat;
    }

    padding: rem(67px) 0 0 0;
}