.intro {
    color: $main-color;

    .container {
        background: url('../images/background/intro-background.png') 0 0 no-repeat;
        
        @include laptop {
            background-size: contain;
        }

        @include tablet {
            background-position: 50px 20px; 
            background-size: 120%;
        }

        @include phone {
            background: url('../images/background/intro-background-phone.png') 0 0 no-repeat;
        }

    }
    
}

.intro-main {
    @extend %clearfix;
    padding: rem(25px) 0 0 0;

    @include laptop {
        padding: rem(10px) 0 0 0;
    }

}

.intro-main__header {
    @include font(rem(60px), 1);
    @include roboto-condensed();
    margin-bottom: rem(21px);
    color: $intro-heading-color;
    text-transform: uppercase;
    background: linear-gradient(45deg, #f0e394 33%, #d4c275 66%, #b69d54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablet {
        font-size: 2rem;
    }

    @include phone {
        width: rem(290px);
        margin: rem(8px) auto rem(15px) auto;
        font-size: 1.5rem;
    }

}

.intro-main__advantages {
    width: rem(340px);
    float: left;

    @include desktop {
        width: 20rem;
    }

    @include laptop {
        width: 18rem;
    }

    @include tablet {
        width: 100%;
    }

}

.intro-main__advantages-header {
    @include font(rem(22px), 1.3);
    @include roboto();
    margin-bottom: rem(10px);

    @include laptop {
        font-size: 1.2rem;
    }

    @include tablet {
        width: rem(286px);
    }

    @include phone {
        margin: 0 auto rem(8px) auto;
        font-size: 1rem;
    }

}

.intro-main__advantages-list {
    margin-bottom: rem(15px);

    @include tablet {
        float: left;
    }

    @include phone {
        float: none;
        width: rem(300px);
        margin: 0 auto rem(15px) auto;
    }

}

.intro-main__advantages-item {
    padding: rem(8px) 0 rem(5px) 0;
    
    &:not(:last-of-type){
        background: url('../images/decor/border-bottom.png') 0 100% no-repeat;
    }

}

.intro-main__advantages-marker {
    @include inline-block(middle);
    width: 24px;
    height: 24px;
    background: url('../images/icons/icons-sprites.png') -174px -30px;
}

.intro-main__advantages-text {
    @include inline-block(middle);
    @include font(rem(16px), 1.41);
    margin-left: rem(7px);
}

.intro-main__advantages-pic {
    width: rem(340px);

    @include laptop {
        width: 16rem;
    }

    @include tablet {
        float: right;
    }

    @include phone {
        display: none;
    }

}

.intro-main__advantages-img {
    display: block;
    max-width: 100%;
}

/* order */

.intro-main__order {
    position: relative;
    width: rem(611px);
    float: right;

    @include desktop {
        width: 36rem;
    }

    @include laptop {
        width: 32rem;
    }

    @include tablet {
        width: 100%;;
        margin-top: rem(10px);
    }

}

.intro-main__order-guarantee {
    position: absolute;
    left: 0;
    bottom: 0;
    width: rem(285px);
    float: left;

    @include laptop {
        width: 15rem;
    }

    @include tablet {
        position: absolute;
        left: 55%;
        bottom: 25%;
    }

    @include phone {
        display: none;
    }

}


.intro-main__order-pic {
    width: rem(280px);

    @include laptop {
        width: 13rem;
    }

}

.intro-main__order-img {
    display: block;
    max-width: 100%;
}

.intro-main__order-text {
    @include font(rem(19px), 1.3);
    @include pt-sans-narrow();
    width: rem(260px);
    text-align: center;

    @include laptop {
        width: 13rem;
    }

}

.intro-main__order-stock {
    width: rem(310px);
    float: right;
    
    @include laptop {
        width: 17.32rem;
    }

    @include tablet {
        float: left;
    }

    @include phone {
        float: none;
        margin: 0 auto;
    }

}

.intro-main__order-stock-wrapper {
    width: rem(291px);
    float: right;

    @include laptop {
        width: 17.185rem;
    }

}

.intro-main__order-amount {
    @extend %clearfix;
    margin-bottom: rem(20px);
}

.intro-main__order-values {
    float: left;
    font-size: 0;
}

.intro-main__order-value {
    @include font(rem(50px), 1);
    @include pt-sans-narrow(bold);
    display: inline-block;
    width: rem(47px);
    padding: 2px 1px;
    text-align: center;
    color: $main-text-color;
    background-color: $intro-value-color;
    border-radius: 4px;

    &:not(:first-of-type){
        margin-left: 4px; 
    }

}

.intro-main__order-value_active {
    opacity: .7;
}

.intro-main__order-value-text {
    position: relative;
    display: block;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #cecece;
    }

}

.intro-main__order-footnote {
    @include font(rem(16px), 1.1);
    position: relative;
    z-index: 0;
    width: rem(113px);
    float: left;
    margin-left: rem(21px);
    padding: rem(8px) 0 rem(20px) 0;

    &::before {
        content: "";
        position: absolute;
        top: rem(10px);
        left: rem(-11px);
        z-index: -1;
        display: inline-block;
        width: rem(118px);
        height: rem(54px);
        background-color: $background-color;
        border-radius: 4px;
        opacity: .6;
    }

    @include laptop {
        padding: .5rem 0 0 0;
        margin-left: .5rem;

        &::before {
            display: none;
        }
    }

}

/* form */
.form {
    position: relative;
    width: rem(290px);
    background-color: $main-color;
    border-radius: 8px;
    box-shadow: 0px 0px 40px 0px rgba(254, 213, 91, 0.25);

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: rem(-11px);
        left: 0;
        display: inline-block;
        width: rem(110px);
        height: rem(15px);
        background: url('../images/decor/markdown-decor.png') 0 0 no-repeat;
    }

    @include laptop {
        width: 17rem;
    }

}

.form__markdown {
    @extend %clearfix;
    @include pt-sans-narrow();
    position: relative;
    background-color: $form-marcdown-color;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #9f3f1c;
    background: -moz-linear-gradient(top, hsla(16,70%,37%,1) 0%, hsla(16,70%,37%,1) 0%, hsla(16,70%,37%,1) 2%, hsla(11,78%,15%,1) 69%);
    background: -webkit-linear-gradient(top, hsla(16,70%,37%,1) 0%,hsla(16,70%,37%,1) 0%,hsla(16,70%,37%,1) 2%,hsla(11,78%,15%,1) 69%);
    background: linear-gradient(to bottom, hsla(16,70%,37%,1) 0%,hsla(16,70%,37%,1) 0%,hsla(16,70%,37%,1) 2%,hsla(11,78%,15%,1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f3f1c', endColorstr='#411208',GradientType=0 );
    overflow: hidden;
}

.form__markdown-before {
    position: relative;
    width: 50%;
    float: left;
    padding: rem(20px) 0 rem(25px) 0;
    text-align: center;
    color: #7a5b53;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255, .1);
        border-top-right-radius: 8% 70%;
        border-bottom-right-radius: 8% 70%;

    }

    .form__markdown-price {
       text-decoration: line-through;
    }

}

.form__markdown-after {
    width: 50%;
    float: left;
    text-align: center;
    padding: rem(20px) 0 rem(25px) 0;
    

    .form__markdown-price {
        font-weight: 700;
    }

}

.form__markdown-title {
    @include font(rem(18px), 1);
}

.form__markdown-price {
    @include font(rem(48px), 1);
}

.form__markdown-currency {
    @include font(rem(24px), 1);
}

.form__form {
    padding: rem(20px) rem(18px) rem(23px) rem(17px);

    @include laptop {
        padding: .8rem 1rem 1rem .8rem;
    }

}

.form__input {
    @include font(rem(14px), 1);
    @include placeholder(#929292);
    width: 100%;
    padding: rem(19px) rem(14px);
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    outline: none;

    &:not(:last-of-type){
        margin-bottom: rem(15px);
    }

    @include laptop {
        padding: 1rem .5rem;
    }

}

.form__btn {
    @include font(rem(22px), 1);
    @include pt-sans-narrow(bold);
    position: relative;
    width: 100%;
    padding: rem(17px) 0 rem(21px) rem(51px);
    margin-top: rem(25px);
    color: $main-color;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    transition: opacity .2s;
    background: #f9491b;
    background: -moz-linear-gradient(top, hsla(12,95%,54%,1) 1%, hsla(13,90%,53%,1) 58%, hsla(13,81%,47%,1) 94%);
    background: -webkit-linear-gradient(top, hsla(12,95%,54%,1) 1%,hsla(13,90%,53%,1) 58%,hsla(13,81%,47%,1) 94%);
    background: linear-gradient(to bottom, hsla(12,95%,54%,1) 1%,hsla(13,90%,53%,1) 58%,hsla(13,81%,47%,1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9491b', endColorstr='#da4017',GradientType=0 );

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 80%;
        bottom: 0;
        left: 0;
        background-color: $form-btn-lateral-color;
        background-image: url('../images/icons/icons-sprites.png');
        background-position: rem(-10px) rem(-10px);
    }

    &:hover {
        opacity: .8;
    }

    @include laptop {
        padding: .8rem 0 1rem 3.187rem;

        &::before {
            background-position: rem(-10px) rem(-15px);
        }

    }

}

.form__security {
    padding: 0 0 0 rem(10px);
    margin-top: rem(23px);
    font-size: 0;

    @include laptop {
        margin-top: 1rem;
    }

}

.form__security-icon {
    @include inline-block(middle);
    width: 13px;
    height: 17px;
    background: url('../images/icons/icons-sprites.png') -101px -30px;
}

.form__security-text {
    @include inline-block(middle);
    @include font(rem(15px), 1);
    @include pt-sans-narrow();
    margin-left: rem(10px);
    color: $main-text-color;

    @include phone {
        font-size: rem(13px);
    }

}