.opinion {
    margin-top: rem(50px);

    @include laptop {
        padding-bottom: 1rem;
    }

    .information {
        padding: rem(27px) 0 rem(15px) rem(39px);
        background-image: url('../images/background/opinion-background.png');
        background-position: 100% 0;
        background-repeat: no-repeat;

        @include laptop {
            padding-left: 1rem;
            background-image: url('../images/background/opinion-background-laptop.png');
        }

        @include tablet {
            background-image: url('../images/background/opinion-background-tablet.png');
        }

    }

    .information__wrapper {
        width: rem(571px);

        @include laptop {
            width: 33rem;
        }

        @include phone {
            width: 26rem;
        }

        @include small-phone {
            width: 22rem;
        }

    }

    .information__text_opinion {

        &:not(:last-of-type) {
            margin-bottom: rem(8px);
        }

        @include laptop {
            &:not(:last-of-type) {
                margin-bottom: rem(4px);
            }
        }
    
    }

    .information__header {
        margin-bottom: rem(20px);

        @include laptop {
            margin-bottom: rem(12px);
        }

    }

    .caption {
        @include laptop {
            font-size: 35px;
        }
    }

}

.opinion__doc {
    font-size: 0;
}

.opinion__doc-name {
    @include font(rem(16px), 1.5);
    @include pt-sans(bold);
    @include inline-block(middle);
}

.opinion__doc-pic {
    @include inline-block(middle);
    width: rem(185px);
    margin-left: rem(63px);
}

.opinion__doc-signature {
    display: block;
    max-width: 100%;
}

.opinion__decor {
    width: rem(824px);
    margin: 0 auto;

    @include laptop {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include phone {
        display: none;
    }

}

.opinion__decor-img {
    display: block;
}