@mixin roboto($style: 500) {
	font-family: 'Roboto', sans-serif;
	font-weight: $style;
}

@mixin roboto-condensed($style: 700){
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: $style;
}

@mixin open-sans($style: 400){
	font-family: 'Open Sans', sans-serif;
	font-weight: $style;
}

@mixin pt-sans($style: regular){
	font-family: 'PT Sans', sans-serif;

	@if($style == regular){
		font-weight: 400;
	}

	@if($style == bold){
		font-weight: 700;
	}

}

@mixin pt-sans-narrow($style: regular){
	font-family: 'PT Sans Narrow', sans-serif;

	@if($style == regular){
		font-weight: 400;
	}

	@if($style == bold){
		font-weight: 700;
	}

}