/*--- config variables ---*/
$container-width: 986px;

/*--- color variables ---*/
$background-color: #060606;
$header-text-color: #fff;
$main-text-color: #000;
$intro-heading-color: #d4c275;
$intro-value-color: #f6f6f6;
$form-marcdown-color: #4a1509;
$form-btn-color: #f5491a;
$form-btn-lateral-color: #b13412;
$choice-btn-color: #fc481a;